[submodule "leveldb"]
	path = leveldb
	url = https://github.com/essethon/leveldb.git
	branch = lsmv
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
